.room-action {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #dfdfdf;
  border-radius: 4px;
  margin: 8px;
}

.room-action-type {
  text-decoration: underline;
  font-size: 20px;
  margin: 0px;
}
.room-action-direction {
  font-size: 16px;
  color: #565656;
  margin: 0px;
}

.room-action-description {
  font-size: 16px;
  color: #565656;
  margin: 0px;
}
